.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/* header section start here */
.header__logo{
  text-align: right;
  margin: 0;
  padding: 0;
  margin-top: -6px;
}
.header__title{
  margin-top: 10px;
}
.header__nav{
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.nav__a{
  background: transparent;
  border-radius: 0px;
  padding: 10px;
  margin: 0;
  margin-top: 10px;
}
/* header section end here */


/* profile section start here */
.profile{
  padding: 100px 10px;
}
.top--weather{
  width: 100px;
  height: 100px;
  right: 40px;
}
.profile__p{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 10px;
}
.bottom--weather{
  width: 100px;
  height: 100px;
  left: 40px;
}
/* profile section end here */

/* about me section start here */
.about__img{
  display: block;
  margin: 50% 40% 50% 60%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 150px;
}
.about__p{
  text-align: left;
}
/* about me section end here */


/* professional-experience section start here */
.experience{
  padding: 1% 2%;
}
.card{
  height: 730px;
  
}
/* professional-experience section end here */


/* achievements section start here */
.contract__social{
  position: relative;
}
.social__link{
  position: absolute;
  margin: 50% 0 0 50%;
  transform: translate(-50%, -50%);
}
/* achievements section end here */


/* footer section start here */
.footer__a{
  display: inline;
}
/* footer section end here */
